# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=698937bc3f552cc8ec3683d08ba800ca
###< symfony/framework-bundle ###

APP_DOCKER_HOST_PORT=8000

DB_DOCKER_HOST_PORT=15432

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=test_db #change-me
DB_USERNAME=test_db #change-me
DB_PASSWORD=test_db #change-me

DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@database:5432/${DB_DATABASE}"

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###


APP_DEBUG=0 #change-me

RABBIT_MQ_HOST=bves_new-rabbitmq-1 #change name container
RABBIT_MQ_PORT=5672
RABBIT_MQ_USER=guest #change-me
RABBIT_MQ_PASSWORD=gues #change-me